.dropzone, .dragzone {
    margin: 20px;
    width: 800px;
    height: 200px;
    border: #000 solid 1px;
}

.dragstart {
    background-color: rgba(0,0,255, .1);
    border-color: rgba(0,0,255, .3);
    color: rgba(0,0,0, .4);
}

.dragenter {
    background-color: rgba(255,0,0, .1);
    border-color: rgba(255,0,0, .3);
    color: rgba(0,0,0, .4);
}

.dragstart::after, .dragenter::after {
    content: "ここにドロップできます";
    text-align: center;
    position: absolute;
    left: 20px;
    width: 800px;
    line-height: 200px;
    z-index: -1;
}

.animal {
    z-index: 2;
}

.animal.active {
    visibility: hidden;
    transition: visibility linear 1ms;
}